.todo-list {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.todo-list button {
    background-color: white; 
    color: black; 
    border: 2px solid red;
    border-radius: 50%;
    outline:none;
  }
  
.todo-list button:hover {
    background-color: #f56a79;
    color: white;
    border-radius: 50%;
    outline:none;
  }
